<div class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/" id="brand-name">{{ navbar.brandName }}</a>
    <ul class="nav" id="items">
      {% for l in navbar.links %}
      <li><a href="{{ l.url_pl.to_code() }}">{{ l.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="nav pull-right">
      {{ '{% if user.is_authenticated %}' }}
      <li><a id="logout" href="{{ "{% url django.contrib.auth.views.logout %}" }}">Logout</a></li>
      {{ '{% endif %}' }}
    </ul>
  </div>
</div>
